# Ignore target directory
target/

# Keep maven-wrapper.jar in .mvn/wrapper directory
!.mvn/wrapper/maven-wrapper.jar

# Include target directories under src/main/ and src/test/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore src directory
/src/

# Ignore IntelliJ IDEA files
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Ignore Eclipse files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore VS Code files
.vscode/

# Ignore Mac OS system files
.DS_Store

# Ignore PDF and HTML files
*.pdf
*.html